.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
    color: white;
    margin-top: 3rem;
  margin-bottom: 2rem;
}

.inputField-arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.inputField-wrapper {
  display: inline-block;
}

.submit-arrow-wrapper {
  display: inline-block;
  height: 36px;
  width: auto;
}

.infobox-wrapper {
  margin-top: 0rem;
  margin-bottom: -4rem;
}

.arrow {
  height: 36px;
  width: auto;
}

