.input-area {
    box-sizing: border-box;
    height: 3rem;
    padding: 3px 1px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.inputfield-container {
    width: 300px;
}


@media only screen and (max-width: 725px) {
    .inputfield-container {
        width: 250px;
    }
    

}
  