.inputfield-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../../images/pattern-bg.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.input-area-wrapper {
  margin-bottom: 2rem;

}

