.fetchdata-container {
    margin: 0rem 0rem 0rem 0rem;
    border-right: 1px solid gray;
    padding: 0 15rem 0 1rem;
    color: hsl(0, 0%, 59%);
    font-size: 0.5rem;
}

.fetchdata-container:first-child {
    padding: 0 15rem 0 0rem;

}
.fetchdata-container:last-child {
    border-right: none;
    padding-right: 3rem;
}


@media only screen and (max-width: 725px) {
.fetchdata-container {
    border: none;
    padding-right: 0;
    margin: auto;
}

}