.infobox-data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}



@media only screen and (max-width: 725px) {
    .infobox-data-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem 1rem;
        border: 1px solid gray;
       
        border-radius: 10px;
        background-color: white;
    }
}