.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8rem;
  background-image: url('../images/pattern-bg.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.header .inputfield {
  margin-bottom: 20px auto;  
  color: red;
}