body, html {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.app {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8rem;

}


.map-container {
  height: 600px;
  z-index: -2;
}